@media only screen and (min-width: 500px) {
  .container {
    display: flex;
  }
}
.map {
  height: 100vh;
  overflow: hidden;
}
.map > div > div {
  width: calc(100% - 420px) !important;
}
html {
  font-family: Roboto, Arial, sans-serif;
}
